.place__text{
    max-width: 484px;
    margin: 0 0 26px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
}

.place__text:last-of-type{
    margin: 0;
}

@media screen and (max-width: 950px) {
    .place__text {
      line-height: 1.62;
      font-size: 16px;
    }
  }
  @media screen and (max-width: 600px) {
    .place__text {
      padding: 0 16px;
    }
  }